:root {

  --color-gray-100: #f6f3f4;
  --color-gray-200: #ebe6e7;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #99a1af;
  --color-gray-500: #6a7282;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-gray-900: #101828;
  --color-gray-950: #030712;
  --color-orange-300: #ffb86a;
  --color-orange-400: #ff8904;
  --color-orange-500: #ff6900;
  --color-orange-600: #f54a00;
  --color-emerald-100: #d0fae5;

  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-white: #ffffff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--color-emerald-100);
}

h1,
h2,
h3 {
  margin: 0;
}